html, body {
 
    background-color: #f3f2ed;
  
    width: 100%;

}
.gora{
    display: none;
   
}


.container {
    width: 100%;
}
.coljeden{
    padding-top: 15px;
   padding-left:100px;
    
}

.coljeden > h3{
    min-width: 180px; 
    margin-top:-22px;
    margin-left: 70px;
}

.header {
   position: fixed;
    height: 80px;
    background-color: #ffffff;
    width: 100%;
    z-index: 2000;
    
}
.coljeden{
    float:left;
    max-width: 300px;
    text-align: left;
    margin-top: 20px;
}

nav {
    float: left;
    margin-top: 18px;
    min-width: 750px;
    margin-left: 0px;
}
nav > ul > li {
    
    font: 700 14px "Helvetica";
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#515862;
     display: inline-block;
    background-color: white;
    border-radius: 5px !important;
 
    
}
nav > ul > li:hover{
    background: url(images/Shape-306.png);
     background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 26px;
    padding-top: 20px; 
    background-color:white;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
   
}
.dropdown2{
    position: relative;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 100;
}

.dropdown-content2 a:hover {background-color: pink}

.dropdown2:hover .dropdown-content2 {
    display: block;
}


.dropdown-content3 {
    display: none;
    position: absolute;
    top: 55px;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
   
}
.dropdown3{
    position: relative;
    font: 700 14px "Helvetica";
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 20px;
    color:#515862 !important;
     display: inline-block;
    background-color: white;
    border-radius: 5px !important;
}
.dropdown3:hover{
        background: url(images/Shape-306.png);
     background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 26px;
    padding-top: 20px; 
    background-color:white;
}

.dropdown-content3 a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 100;
}

.dropdown-content3 a:hover {background-color: pink}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown3:hover {
     background: url(images/Shape-306.png);
     background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 29px;
    padding-top: 35px; 
    background-color:white;
}

.navi{
    color:#515862;
}
.ablog {
   color:#515862;
}
.anormal{
    color:#515862;
    border-radius: 5px;
}
.ahome{
     color:#515862;
}
.home{
    border-radius: 5px;

    background-color: #12a3d6;
    background-image:url(images/Shape-306.png) ;
   background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 26px;
    
}
.blue{
    z-index:1;
    position:absolute; top: 0px; left: 0px;
    height: 89px;
    width: 75px;
}
.blog{
    background-color: #f98561;
    border-radius: 5px;
    padding-top:7px;
    padding-bottom: 7px;
    color: #ffffff !important;
}
.jedynkaprawa{
    margin-left: 50px;
    display: inline;
    height: 79px;
    max-width: 250px;
    color: #515862;
    background-color: #ffffff !important;
}
p1{
    max-width: 50px;
    position:absolute; top: 33px; left: 50px;
}
.searchBox {
    background-image: url(images/Ellipse-1.png);
  border: solid 0px;
}
.imgTop { position:absolute; top: 33px; left: 132px; z-index: 3; } 
.imgDown { position:absolute; top: 25px; left: 125px; z-index: 1; } 

}
img.logo:link, img.logo:hover {
    border: 0;
}
.rownr2{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -15px;
    margin-right: -15px;
   margin-top: 79px;
    background-image: url(images/tlo1.png);
    min-width: 100%;
    height: 491px;
    text-align: center;
    color: #cccece;
    font-family: BebasNeue;
    z-index:2;
}
.rownr4{
    height: 570px;
}

p2{
    font: 400 40px BebasNeue;
}
p3{
   
}
span{
    display:block;
    max-width: 650px !important;
    margin: auto !important;
}
.subBut1{
    width: 243px;
    height: 51px;
    background: url(images/Shape-307.png);
    border-radius: 5px;
    color: #ffebca;
    font: 400 25px 'Ubuntu';
    border: solid 0px red;
}
.krop {
    padding-left: 600px;
}
.subBut2{
   margin-top: 13px;
    width: 146px;
    height: 35px;
    border-radius: 5px;
    background: url(images/groupblue.png);
    color: #ffffff;
    font: 400 15px BebasNeue;
    border: solid 0px red;
}
.rownr3{
    width: 100%;
    display:none;
   
 
}
.img1{
     display:block;
    margin-left:auto;
margin-right:auto;
    padding-bottom: 20px;
}

.col41,.col42, .col43{
    
   text-align:center;
    padding-left:-15px;
    padding-right: -15px;
}
.span2{
    font: 400 13px / 15px Ubuntu;
    text-align:center;
    width: 175px;
}
.rownr4{
    background: url(images/tlonr4.png);
   
}
.span4{
    color: #f98561;
    font: 700 30px BreeSerif;
    padding-top: 0px !important;
    padding-left:100px;
    max-width: 400px;
    margin-left: 0px !important;
}
.img2{
    display:block;
    margin-left:50px;
margin-right:50px;
    border: solid 4px white;
    width: 282px;
    height: 220px;
}
.img2a{
    margin-left: 180px;
    display:block;
    width: 282px;
    height: 220px;
    border: solid 4px white;
}
.img2c{
    margin-left: -80px;
    margin-right: 180px;
    display:block;
    width: 282px;
    height: 220px;
    border: solid 4px white;
}
h4{
    text-align: center;
}


.footer {
  
 background-color: #f3f2ed;
    height: 200px;
    margin-top: 0px;
   
}
footer > .col-md-3 > h3 {
    color: black;
    font: 700 16px / 14px "Helvetica";
}

.footer > .col-md-3 > p {
    color: black;
    font: 400 12px / 14px "Helvetica";
}




    #owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: 350px;
    }





